{{!-- Site [Scrape Process Alert] --}}
<div class="alert alert-info m-0" role="alert">
    {{!-- Site [Scrape Process Container] --}}
    <div class="row mt-2">
        {{!-- Site [Scrape Loading Spinner] --}}
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        {{!-- Site [Scrape Load Context] --}}
        <div class="ml-2 mt-1">
            <h4 class="text-info font-weight-bold">Scraping site, this should only take a moment.... <i class="fa fa-clock" aria-hidden="true"></i></h4>
        </div>
    </div>
</div>