{{!-- Article Notes Container --}}
<div class="modal fade bottom show" id="notesModal" tabindex="-1" role="dialog">
    {{!-- Render All Model Data  --}}
    {{#each Article}}
    <div class="modal-dialog modal-full-height modal-bottom" role="document">
        {{!-- Article Notes Content Container --}}
        <div class="modal-content">
            {{!-- Article Notes Modal Title --}}
            <div class="card-footer bg-secondary border-white text-white font-weight-bold text-center">
                <h4>Showing Notes For Selected Article</h4>
            </div>
            {{!-- Header Container --}}
            <div class="modal-header">
                <h4 class="modal-title">
                    <a class="article-link" target="_blank"
                        href="https://www.nytimes.com/{{this.link}}">{{this.title}}</a>
                </h4>
                {{!-- Article ID Number --}}
                <label class="text-muted float-right">Article ID: {{this.id}}</label>
            </div>
            {{!-- Body Container --}}
            <div class="modal-body p-5">
                {{!-- No Notes Made --}}
                <ul class="list-group note-container">
                    <li class="list-group-item">Nobody's talking about this article, be the first!</li>
                </ul>
            </div>
            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-info waves-effect waves-light" data-dismiss="modal">Hide
                    Notes
                </button>
                <button type="button" class="btn btn-primary waves-effect waves-light" data-dismiss="modal">Post
                    Note
                </button>
            </div>
        </div>
        <!--/.Content-->
    </div>
    {{/each}}
</div>