<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/styles/styles.css">
  <title>Mongo Scraper</title>
</head>

<body>
  <!-- Site Navigation [START] -->
  <nav class="navbar navbar-expand-lg navbar-dark primary-color">
    <!-- Site Navbar Brand -->
    <a class="navbar-brand" href="/">
      <h1>Mongo Scraper</h1>
    </a>
    <!-- Site Collapse Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Site Collapsible Content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
      <!-- Site Navbar Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Saved Articles</a>
        </li>
        {{!-- Site Navbar 'Scrape New Articles!' Button --}}
        <button type="button" class="btn btn-danger btn-md my-2 my-sm-0 ml-3">Scrape New Articles!</button>
      </ul>
    </div>
  </nav>
  {{!-- Site Navigation [End] --}}

  
</body>

</html>