<!-- Site Navigation [START] -->
<nav class="navbar navbar-expand-lg navbar-dark primary-color">
  <!-- Site Navbar Brand -->
  <a class="navbar-brand" href="/">
    <h1>Mongo Scraper</h1>
  </a>
  <!-- Site Collapse Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#siteNavbar"
    aria-controls="siteNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Site Collapsible Content -->
  <div class="collapse navbar-collapse" id="siteNavbar">
    <!-- Site Navbar Links -->
    <ul class="navbar-nav mr-auto">
      {{!-- Site Navbar [Home Route] --}}
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      {{!-- Site Navbar [Saved Articles] --}}
      <li class="nav-item">
        <a class="nav-link" href="/">Saved Articles</a>
      </li>

      {{!-- Site Navbar [Scrape New Articles!] Button --}}
      <button type="button" class="btn btn-danger btn-md my-2 my-sm-0 ml-3">Scrape New Articles!</button>
    </ul>
  </div>
</nav>
{{!-- Site Navigation [End] --}}

{{!-- Site Main Background Image --}}
<div class="bg">
  <div class="heading text-center">
    <h1 class="display-1 text-white">Mongo Scraper</h1>
    <p class="h2 text-white">New York Times Edition</p>
  </div>
</div>

{{!-- Site [No New Articles] --}}
<div class="alert alert-warning" role="alert">
  <p class="h5 text-center"><b>Uh Oh.</b> Looks Like We Don't Have Any New Articles.</p>
</div>