/* HTML Body Styles */

body, html {
  background-color: #ffffff;
  background-image: url("/images/site-bg.png");
  height: 100%;
}

/* Site Background Image */

.jumbotron {
  /* Jumbotron Background Image */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("/images/jumbo-image.gif");
  /* Jumbotron Font Family */
  font-family: "Cormorant SC";
  height: 50%;
  /* Center and Scale Image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Do Flex */
  display: flex;
  /* Align Items Center */
  align-items: center;
  /* Align Content Center */
  justify-content: center;
}

/* Jumbotron Image Title and Description Text */

.caption {
  color: white;
}

/* Makes the Jumbotron Heading Child A Bit Bigger For Display */

#jumbo-describe {
  font-size: 200%;
}

/* Alert Style Override (Not very scalable, but fine in this small project */

.alert-warning {
  background-color: #ff9800 !important;
}